<h1>Edit Your Portfolio</h1>

<h2>User: <%= @user.first_name %></h2>
<%= @portfolio.title %>

<%= form_for(@portfolio, :url => {:action=>"update", :controller=>"portfolios"}, :method => :patch) do |f| %>
	<%= hidden_field_tag :user_id, @user.id %>
	<%= hidden_field_tag :id, @portfolio.id %>

	<p>	
		<%= f.submit "Update your portfolio"%>
	</p>
	<p>
		<%= f.label :title, "Title:" %>
		<%= f.text_field :title, value: @portfolio.title %>
	</p>

	<p>
		<%= f.label :description, "Description:" %>
		<%= f.text_area	:description, value: @portfolio.description %>
	</p>

	<p>
		<%= f.label :venue, "Venue:" %>
		<%= f.text_field :venue, value: @portfolio.venue %>
	</p>

<div>

	<%= f.fields_for :photos_attributes do |p| %>
		<% @photos.each_with_index do |photo, i| %>
			<%= image_tag photo.photo_image %>
			<%= p.label "Remove Image" %>
			<%= p.check_box "current_photo[#{i}][remove_photo_image]" %>
			<%= p.hidden_field "current_photo[#{i}][photo_id]", value: photo.id %>
		<% end %>
	<% end %>

</div>
	<p>
		<%= f.fields_for :photos_attributes do |p| %>
			<%= p.label "Add new files" %>
			<%= p.file_field :photo_image, multiple: true %>
		<% end %>
	</p>

<% end %>
















