<h1>Create a portfolio</h1>

<h3>Account for <%= @user.first_name %></h3>
<%= @user.inspect %>

<%= form_for(@portfolio) do |f| %>
	<%= f.hidden_field(:user_id, value: @user.id) %>

	<p>
		<%= f.label :title, "Title:" %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :description, "Description:" %>
		<%= f.text_area	:description %>
	</p>

	<p>
		<%= f.label :venue, "Venue:" %>
		<%= f.text_field :venue %>
	</p>

	<p>	
		<%= f.submit "Create your portfolio"%>
	</p>
<% end %>
  


<!-- 	
	field :date

	belongs_to :user
	has_many :photos -->