<div class="row">
	<div class="col-md-8 col-md-offset-2">

        <%= render 'shared/user_profile_header' %>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#portfolioInfo" aria-expanded="false" aria-controls="portfolioInfo">
            About the portfolio
        </button>
        <div class="collapse" id="portfolioInfo">
          <div class="well">
              <h4>Title: <%= @portfolio.title %></h4>
              <h4>Venue: <%= @portfolio.venue %></h4>
              <p><%= @portfolio.description %></p>
          </div>
        </div>
	</div>
</div>


<div class='justified-container'>
    <% @photos.each do |photo| %>
            <%= link_to image_tag(photo.photo_image.url(:normal), class: "center-block"), photo_path(photo.id) %>
    <% end %>
</div>