<%= render 'shared/user_account_navigation' if logged_in? %>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>
			<u><%= @user.first_name %> <%= @user.last_name %></u>
			<small class="h4"><%= link_to "Profile", user_path(@user) %></small>
		</h2>
	</div>
</div>

<br>

<div class='col-md-10 col-md-offset-1'>
	<h3>Portfolios</h3>
	<div class='justified-container'>
			<% @portfolios.each do |portfolio| %>
			    <div>
			    	<%= link_to image_tag(portfolio_cover_image(portfolio), alt: portfolio.title), portfolio_path(@user, portfolio) %>
                    <footer><p><%= portfolio.title %></p></footer>
			    </div>
			<% end %>
	</div>
</div>