<%= render 'shared/user_account_navigation' if logged_in? %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h2><u><%= @user.first_name %> <%= @user.last_name %></u></h2>
		<p><%= link_to "Profile", user_path(@user) %>  <%= link_to "View Portfolios", user_portfolios_path(@user) %></p>

		<h3>Portfolio Title: <%= @portfolio.title %></h3>

		<h4>Venue: <%= @portfolio.venue %></h4>

		<h4>Description:</h4>
		<p><%= @portfolio.description %></p>

		<%= render 'shared/edit_portfolio' if me? %>
	</div>
</div>

<br>

<div>
	<% @photos.in_groups_of(4) do |photo1, photo2, photo3, photo4| %>
	<div class="row">

		<% if photo1 %>
    	<div class="col-md-3">
    		<%= link_to image_tag(photo1.photo_image.url(:normal), class: "img-thumbnail img-responsive center-block"), photo_path(photo1.id) %>
    	</div>
    	<% end %>

   		<% if photo2 %>
      	<div class="col-md-3"><%= link_to image_tag(photo2.photo_image.url(:normal), class: "img-thumbnail img-responsive center-block"), photo_path(photo2.id) %></div>
    	<% end %>

   		 <% if photo3 %>
     	 <div class="col-md-3"><%= link_to image_tag(photo3.photo_image.url(:normal), class: "img-thumbnail img-responsive center-block"), photo_path(photo3.id) %></div>
    	<% end %>
    	
   	    <% if photo4 %>
	      <div class="col-md-3"><%= link_to image_tag(photo4.photo_image.url(:normal), class: "img-thumbnail img-responsive center-block"), photo_path(photo4.id) %></div>
	    <% end %>

	</div>
	<% end %>
</div>

<%= render 'shared/delete_portfolio' if me? %>