<%= render 'shared/user_account_navigation' if logged_in? %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h2><u><%= @user.first_name %> <%= @user.last_name %></u></h2>
		<p><%= link_to "Profile", user_path(@user) %>  <%= link_to "View Portfolios", user_portfolios_path(@user) %></p>

		<h3>Portfolio Title: <%= @portfolio.title %></h3>

		<h4>Venue: <%= @portfolio.venue %></h4>

		<h4>Description:</h4>
		<p><%= @portfolio.description %></p>

		<%= render 'shared/edit_portfolio' if me? %>
	</div>
</div>



<div class='justified-container'>
    <% @photos.each do |photo| %>
            <%= link_to image_tag(photo.photo_image.url(:normal), class: "center-block"), photo_path(photo.id) %>
    <% end %>
</div>