<h1>For a single portfolio and its photos</h1>

<h2>User: <%= @user.first_name %></h2>
<p><%= link_to "Profile", user_path(@user)  %></p>

<h3>Portfolio Title: <%= @portfolio.title %></h3>

<h4>Venue: <%= @portfolio.venue %></h4>

<h4>Description</h4>
<p><%= @portfolio.description %></p>

<%= render 'shared/portfolio' if me? %>

<% @photos.each do |photo| %>
	<%= image_tag photo.photo_image.url(:normal) %>
<% end %>
