<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<h2>
			<%= @user.first_name %> <%= @user.last_name %>
			<small><%= link_to "Back to Profile", user_path(@user) %></small>
		</h2>

		

		<h3>Portfolios</h3>
		<% @portfolios.in_groups_of(4) do |port1, port2, port3, port4| %>
			<div class="row">

			    <div class="col-md-3">
			    	<%= link_to port1.title, portfolio_path(@user, port1) %>
			    	<%= image_tag(port1.photos.first.photo_image.url(:thumb), class: "img-thumbnail img-responsive center-block") %>
			    </div>

			    <!-- Portfolio2 -->
		    	<% if port2 %> 
		      	<div class="col-md-3">
		    		<%= link_to port2.title, portfolio_path(@user, port2) %>
		    		<%= image_tag(port2.photos.first.photo_image.url(:thumb), class: "img-thumbnail img-responsive center-block") %>	      
		      	</div>
		      	<% end %>

		      	<!-- Portfolio3 -->
		      	<% if port3 %> 
		      	<div class="col-md-3">
		    		<%= link_to port3.title, portfolio_path(@user, port3) %>
		    		<%= image_tag(port3.photos.first.photo_image.url(:thumb), class: "img-thumbnail img-responsive center-block") %>	      
		      	</div>
		      	<% end %>

		      	<!-- Portfolio4 -->
		      	<% if port4 %> 
		      	<div class="col-md-3">
		    		<%= link_to port4.title, portfolio_path(@user, port4) %>
		    		<%= image_tag(port4.photos.first.photo_image.url(:thumb), class: "img-thumbnail img-responsive center-block") %>	      
		      	</div>
		      	<% end %>

		    <!-- closing div class row -->
			</div>
		<% end %>
	<!-- closing div class col -->
	</div>
<!-- closing div class row -->
</div>

<!-- delete all_portfolio partial? -->