<%= render 'shared/user_account_navigation' if logged_in? %>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>
			<u><%= @user.first_name %> <%= @user.last_name %></u>
			<small class="h4"><%= link_to "Profile", user_path(@user) %></small>
		</h2>
	</div>
</div>

		<br>


<h3>Portfolios</h3>
<div class='row'>
		<% @portfolios.each do |portfolio| %>
			<% if portfolio %>
			    <div class="col-md-3 text-center">
			    	<h4><%= link_to portfolio.title, portfolio_path(@user, portfolio) %></h4>
			    	<% if !portfolio.photos.empty? %>
			    	<%= image_tag(portfolio.photos.first.photo_image.url(:thumb), class: "img-thumbnail img-responsive center-block") %>
			    	<% end %>
			    </div>
		    <% end %>
		<% end %>
</div>

<script>
	
</script>