<%= render 'shared/user_account_navigation' if logged_in? %>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>
			<u><%= @user.first_name %> <%= @user.last_name %></u>
			<small class="h4"><%= link_to "Profile", user_path(@user) %></small>
		</h2>
	</div>
</div>

<br>

<div class='col-md-10 col-md-offset-1'>
	<h3>Portfolios</h3>

	<div class='justified-container'>
			<% @portfolios.each do |portfolio| %>
				<% if portfolio %>
				    <div>
				    	<% if !portfolio.photos.empty? %>
				    	<%= image_tag(portfolio.photos.first.photo_image.url(:thumb), class: "center-block") %>
				    	<% end %>
				    	<h4 class='text-center'><%= link_to portfolio.title, portfolio_path(@user, portfolio) %></h4>
				    </div>
			    <% end %>
			<% end %>
	</div>
</div>

<script>
(function() { 
    $('.justified-container').justifiedGallery({
        rowHeight: 250,
        maxRowHeight: 0,
        margins: 5,
        captions: false,
        lastRow : 'nojustify'
    });
})();
</script>