<div class="col-md-6 col-md-offset-3">
	<h1 class="text-center">Your Profile</h1>

	<%= form_for(current_user, html: {role: "form"}) do |f| %>

		<%= image_tag user_profile_pic(current_user), class: "img-thumbnail img-responsive center-block" %>

		<div class="text-center">
			<%= f.label "Upload a new picture" %>
			<p id="file-name"></p>
			<p class="btn btn-default" id="browse-click">Browse For Photo</p>
			<%= f.file_field :profile_pic, style:"display: none", id:"uploadFile"%>
		</div>

		<h5 class="text-center">
			<%= f.check_box :remove_profile_pic %>
			<%= f.label "Remove current picture" %>
		</h5>

		<br>

		<div class="form-group">
			<%= f.label :first_name %>
		  	<%= f.text_field :first_name, :value => current_user.first_name, class: "form-control" %>
	  	</div>

		<div class="form-group">
			<%= f.label :last_name %>
		  	<%= f.text_field :last_name, :value => current_user.last_name, class: "form-control" %>
	  	</div>
	  	<div class="form-group">
		  	<%= f.label :email %>
		  	<%= f.text_field :email, :value => current_user.email, class: "form-control" %>
	  	</div>

	  	<div class="form-group">
		  	<%= f.label :location %>
			<%= f.select :state, options_for_select((us_states), current_user.state), {:include_blank => true, :prompt => "Select State"}%>
		</div>

	  	<div class="form-group">
		  	<%= f.label :personal_website %>
		  	<%= f.text_field :personal_website, :value => current_user.personal_website, class: "form-control" %>
	  	</div>
	  	<div class="form-group">
		  	<%= f.label :about_me %>
		  	<%= f.text_area :about_me, :value => current_user.about_me, class: "form-control" %>
	  	</div>

	  	<%= f.submit "Update", class: "btn btn-success center-block" %>

	<% end %>
</div>