<h1>Create an account</h1>

<h2>
<% if flash[:error]  %>
	<%= flash[:error] %>
<% end %>
</h2>

<%= form_for(@user) do |f| %>
	<%= f.label :first_name, "First Name:" %>
	<%= f.text_field :first_name %>
	
  <%= f.label :last_name, "Last Name:" %>
	<%= f.text_field :last_name %>
	
  <%= f.label :email, "Email:"%>
	<%= f.text_field :email %>

  <%= f.select :state, options_for_select(us_states), {:prompt => "Select State"} %>
  <div>
  	<%= f.label :password %>
  	<%= f.password_field :password %>
  </div>

  <div>
  	<h3><%= f.label :password_confirmation %></h3>
  	<%= f.password_field :password_confirmation %>
  </div>

	<%= f.submit "Create account" %>
<% end %>