<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-md-4">	
			<%= image_tag user_profile_pic(@user), class:"img-thumbnail img-responsive"%>
		</div>
		<div class="col-md-8">
			<h2><%= @user.first_name %> <%= @user.last_name %></h2>
			<h4><%= link_to "View Portfolios", user_portfolios_path(@user) %></h4>
			<p>Email: <%= @user.email %></p>
			<p>Location: <%= @user.state %></p>
			<p>Website: <%= @user.personal_website %></p>
			<p>About Me: <%= @user.about_me %></p>
		</div>
	</div>
</div>