<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<ul class="nav nav-tabs nav-justified">
			<li><%= link_to "My Portfolios", user_portfolios_path(current_user) %></li>

			<li><%= link_to "New Portfolio", new_portfolio_path(current_user) %></li>

			<li><%= link_to "My Profile", user_path(current_user) %></li>

			<li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>

            <li><%= link_to "Account", user_account_path %></li>
		</ul>
	</div>
</div>