<!DOCTYPE html>
<html>
<head>
  <title>As of Today</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">
    
    <div class="container-fluid" id="landing-page-main-container">

        <%= yield %>  

    </div>
</body>
</html>
